<!DOCTYPE html>
<html lang="en">

<head>
  {% include "partials/head.njk" %}
  {% include "partials/styles.njk" %}
</head>
<body>
  <div id="main">
    {% block main %}
      <p>Default Page</p>
    {% endblock %}
  </div>
</body>
</html>
